<header class="admin">
    <div class="left">
        <div class="burger-menu" onclick="drupMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <a href="/admin"  class="m4" id="titulo-principal"><h1>Sm4rtTech</h1></a>
    </div>
    <div class="right">
        <div class="hello">
            <p>Admin,</p>
            <p><%= `${locals.user.name} ${locals.user.last_name? locals.user.last_name : ""}` %></p>
        </div>
        <ul>
            <li class="messages"><i class="far fa-envelope"></i></li>
            <li class="notifications"><i class="far fa-bell"></i></li>
            <li class="avatar-profile"><i class="far fa-user"></i></li>
            <a class="go-to-home" href="/">Ir a la página</a>
        </ul>
    </div>
    <nav class="opcion-cat" id="barra-lat">
        <ul>
            <li onclick="subCategoryMenu()">
                <i class="fas fa-border-all"></i>
                <p class="title-item"><a href="/admin" class="nav-link">Inicio</a></p>
            </li>
            <li onclick="subCategoryMenu()">
                        <i class="fas fa-plus-circle"></i>
                        <p><a href="/admin/agregar">Agregar</a></p>
            </li>
            <li>
                <i class="fas fa-pen-square"></i>
                <p><a href="/admin/editar">Editar</a></p>
            </li>
            <li onclick="subCategoryMenu()">
               
                        <i class="fas fa-users"></i>
                    <p class="title-item"><a href="/admin/team">Equipo</a></p>
            </li>
        </ul>
    </nav>
    <script src="/javaScripts/headerAdmin.js" defer></script>
</header>