<section class="sectionInicio">
    <div class="row">
        <div class="cardAdmin ventas">
            <h3>Ventas</h3>
        </div>
        <div class="cardAdmin preguntas">
            <h3>Preguntas</h3>
        </div>
        <div class="cardAdmin visitas">
            <h3>Visitas</h3>
        </div>
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="cardAdmin indicadores">
            <h3>Performance</h3>
            <img src="https://i.ibb.co/fCXyDVm/Indicadores-ventas.jpg" alt="Indicadores">
        </div>
    </div>
</section>