<nav class="admin">
    <ul>
        <li>
            <a href="/admin" class="nav-link">
                <div class="icon">
                    <i class="fas fa-border-all"></i>
                </div>
                <p class="title-item">Inicio</p>
                
            </a>
        </li>
        <li>
            <div class="nav-link">
                <div class="icon">
                    <i class="fas fa-cart-plus"></i>
                </div>
                <p class="title-item">Productos</p>
                <div class="arrow">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <ul class="sub-menu">
                <li>
                    <a href="/admin/agregar">Agregar</a>
                </li>
                <li>
                    <a href="/admin/editar">Editar</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/admin" class="nav-link">
                <div class="icon">
                    <i class="fas fa-users"></i>
                </div>
                <p class="title-item">Equipo</p>
            </a>
        </li>
    </ul>
</nav>
<script src="/javaScripts/navAdmin.js" defer></script>