<footer>
    <div class="div1">
        <div class="logo-footer">
            <img src="public/images/logo-sm4rttech.png" alt="">
        </div>
        <div class="lista1">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Sobre nosotros</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
        </div>
        <div class="lista2">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Favoritos</a></li>
                <li><a href="">Marcas</a></li>
            </ul>
        </div>
        <div class="recomendados">
            <ul>
                <li>Recomendados</li>
                <li><a href="">Smartphones</a></li>
                <li><a href="">Tablets</a></li>
                <li><a href="">Televisores</a></li>
                <li><a href="">Gaming</a></li>
            </ul>
        </div>
        <div class="redes">
            <i class="fab fa-whatsapp"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i><i class="fab fa-facebook-f"></i><i class="far fa-envelope"></i>
        </div>
    </div>
    <div class="div2">
        <p>Copyright © 2021 SM4RTTECH S.A. | Todos los derechos reservados | Buenos aires, Argentina</p>
    </div>
</footer>