<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="main">
        <div class="logo">
        <img src="public/Logo-Smarttech-4-Letras-blancas.png" alt="">
        </div>
        <div class="search-bar">
        <input class="input-style" type="text" name="Search" placeholder="Buscar productos">
        <i class="fa fa-search"></i>    
        <br>
        <nav class = "categorias">
            <ul>
                <li>
                    <a href="#">novedades</a>
                </li>
                <li>
                    <a href="#">televisores</a>
                </li>
                <li>
                    <a href="#">celulares</a>
                </li>
                <li>
                    <a href="#">tablets</a>
                </li>
                <li>
                    <a href="#">gaming</a>
                </li>
            </ul>
        </nav>
        </div>
        <div class="logeo">
            <nav class="options">
                <ul>
                    <li><a href="#">inicia sesion</a></li>
                    <li><a href="#">registrate</a></li>
                </ul>
            </nav>
            <br>
            <nav class="iconos">
                <i class="fa fa-bell"></i>
                <i class="fa fa-heart"></i>
                <a href=""><i class="fas fa-shopping-cart"></i></a>
            </nav>    
        </div>
    </header>
    
</body>
</html>