<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sm4rtTech</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="main-header">

            <div class="logo">
                <img src="/images/logo-sm4rttech.png" alt="">
            </div>

            <!-- buscador -->
            <form action="#" class="search-form-mobile" id="search">
                <div class="search-bar">
                    <input type="search" name="busqueda" id="" placeholder="Buscar productos">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
                <ul class="categorías">
                    <li class="dropdown-menu" onclick="dropSubCategoryMenu(`school`)">
                        novedades
                        <!-- <i class="fas fa-chevron-down" ></i> -->
                    </li>
                    <li class="dropdown-menu" onclick="dropSubCategoryMenu(`art`)">
                        televisores
                        <!-- <i class="fas fa-chevron-down" ></i> -->
                    </li>
                    <li class="dropdown-menu" onclick="dropSubCategoryMenu(`office`)">
                        celulares
                        <!-- <i class="fas fa-chevron-down" ></i> -->
                    </li>
                    <li class="dropdown-menu" onclick="dropSubCategoryMenu(`office`)">
                        tablets
                        <!-- <i class="fas fa-chevron-down" ></i> -->
                    </li>
                    <li class="dropdown-menu" onclick="dropSubCategoryMenu(`office`)">
                        gaming
                        <!-- <i class="fas fa-chevron-down" ></i> -->
                    </li>
                </ul>
            </form>
            <div class="iconos">
                <i class="fas fa-bars burguer-menu-icon" onclick="dropMenu()"></i>
                <!-- <i class="fas fa-shopping-cart carrito" onclick="dropMenu()"></i> -->
            </div>
            <div class="logeo">
                <nav class="options">
                    <span><a href="/login">inicia sesion</a>
                    <span><a href="/register">regitrate</a>
                
                </nav>
                <nav class="iconos-desktop">
                    <i class="fa fa-bell" onclick="dropMenu()"></i>
                    <i class="fa fa-heart" onclick="dropMenu()"></i>
                    <i class="fas fa-shopping-cart" onclick="dropMenu()"></i>
                </nav>
            </div>

            <!-- Menú de navegación mobile-->

            <!-- Menú de navegación desktop -->
            <nav class="navigation-bar" id="navigation-bar-desktop">
                <!-- Lista con los elementos del menú (categorías) -->
                <ul class="menu">
                    <li class="dropdown-menu" onclick="dropSubCategoryMenu(`school`)">
                        Escolar
                        <i class="fas fa-chevron-down"></i>
                    </li>
                    <li class="dropdown-menu" onclick="dropSubCategoryMenu(`art`)">
                        Artística
                        <i class="fas fa-chevron-down"></i>
                    </li>
                    <li class="dropdown-menu" onclick="dropSubCategoryMenu(`office`)">
                        Oficina
                        <i class="fas fa-chevron-down"></i>
                    </li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>

            <!-- Buscador escritorio -->
            <form action="#" class="search-form-desktop">
                <div class="search-bar">
                    <input type="search" name="busqueda" id="">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>

            <div class="user-icons-desktop">
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>

        
            <nav class="second-bar">
                <i class="fa fa-heart" onclick="dropMenu()"> (<input type="tel" name="" value="0" id="">)</i>
                <i class="fas fa-shopping-cart" onclick="dropMenu()"> (<input type="tel" name="" value="0" id="">)</i>
            </nav>
       
        <nav class="second-bar-desktop">
            <p> mi carrito <i class="fas fa-shopping-cart"></i></p>
        </nav>

    </header>
    <main>
        <div class="carousel">
            <ul class="slider">
                <li id="slide1">
                    <a href="/"><img src="/images/carousel/lenovo-tablet-m7.jpg" alt="Lenovo M7"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>Galaxy S6 Edge</h4>
                            <p><span class="bold">La mejor opción gama alta</span></p>
                            <p>Gran calidad de construcción, aunque fué lanzado en 2015 aún tiene mucho que dar.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
                <li id="slide2">
                    <a href="/"><img src="/images/carousel/lg-k20.jpg" alt="LG K20"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>LG K20</h4>
                            <p><span class="bold">Un gran celular</span></p>
                            <p>Buen diseño, buenas prestaciones, colores únicos. Un buen celular para entrar al mundo de
                                la tecnologia.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
                <li id="slide3">
                    <a href="/"><img src="/images/carousel/galaxy-s6-edge.jpg" alt="Galaxy S6 Edge"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>Galaxy S6 Edge</h4>
                            <p><span class="bold">La mejor opción gama alta</span></p>
                            <p>Gran calidad de construcción, aunque fué lanzado en 2015 aún tiene mucho que dar.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
                <li id="slide4">
                    <a href="/"><img src="/images/carousel/lenovo-tablet-m7.jpg" alt="Lenovo M7"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>Galaxy S6 Edge</h4>
                            <p><span class="bold">La mejor opción gama alta</span></p>
                            <p>Gran calidad de construcción, aunque fué lanzado en 2015 aún tiene mucho que dar.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
                <li id="slide5">
                    <a href="/"><img src="/images/carousel/lg-k20.jpg" alt="LG K20"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>LG K20</h4>
                            <p><span class="bold">Un gran celular</span></p>
                            <p>Buen diseño, buenas prestaciones, colores únicos. Un buen celular para entrar al mundo de
                                la
                                tecnologia.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
                <li id="slide6">
                    <a href="/"><img src="./images/carousel/galaxy-s6-edge.jpg" alt="Galaxy S6 Edge"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>Galaxy S6 Edge 2</h4>
                            <p><span class="bold">La mejor opción gama alta</span></p>
                            <p>Gran calidad de construcción, aunque fué lanzado en 2015 aún tiene mucho que dar.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
            </ul>
        </div>

        <div class="top-sales">
            <h2>Los mas vendidos</h2>
            <section class="articulos">
                <article>
                    <a href="/">
                        <div class="product-img">
                            <img src="/images/carousel/galaxy-s6-edge.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>Galaxy S6</h3>
                            <p class="price">$ 5.123</p>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/">
                        <div class="product-img">
                            <img src="/images/carousel/lenovo-tablet-m7.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>Lenovo Tablet M7</h3>
                            <p class="price">$ 12.525</p>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/">
                        <div class="product-img">
                            <img src="/images/carousel/lg-k20.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>LG K20</h3>
                            <p class="price">$ 10.123</p>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/">
                        <div class="product-img">
                            <img src="/images/carousel/galaxy-s6-edge.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>Galaxy S6</h3>
                            <p class="price">$ 5.123</p>
                        </div>
                    </a>
                </article>
            </section>
        </div>

        <div class="destacados">
            <h2>Destacados</h2>
            <section class="articulos-destacados">
                <div class="izquierda arriba">
                    <article class="producto">
                        <a href="/">
                            <div class="product-img">
                                <img src="/images/carousel/lg-k20.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </a>
                    </article>
                    <article class="producto">
                        <a href="/">
                            <div class="product-img">
                                <img src="/images/carousel/lenovo-tablet-m7.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>Lenovo Tablet M7</h3>
                                <p class="price">$ 12.525</p>
                            </div>
                        </a>
                    </article>
                </div>

                <article class="producto-principal">
                    <a href="/">
                        <div class="product-img">
                            <img src="/images/carousel/galaxy-s6-edge.jpg" alt="">
                        </div>
                        <div class="description-principal">
                            <div class="description">
                                <h3>Galaxy S6</h3>
                                <p class="price">$ 5.123</p>
                            </div>
                        </div>
                    </a>
                </article>

                <div class="derecha abajo">
                    <article class="producto">
                        <a href="/">
                            <div class="product-img">
                                <img src="/images/carousel/lenovo-tablet-m7.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>Lenovo Tablet M7</h3>
                                <p class="price">$ 12.525</p>
                            </div>
                        </a>
                    </article>
                    <article class="producto">
                        <a href="/">
                            <div class="product-img">
                                <img src="/images/carousel/lg-k20.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </a>
                    </article>
                </div>
            </section>
        </div>

        <div class="ofertas">
            <h2>Ofertas</h2>
            <section class="articulos">
                <article class="producto">
                    <a href="">
                        <div class="product-img">
                            <img src="/images/carousel/lg-k20.jpg" alt="">
                        </div>
                        <div class="description">
                            <div>
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="producto">
                    <a href="">
                        <div class="product-img">
                            <img src="/images/carousel/lenovo-tablet-m7.jpg" alt="">
                        </div>
                        <div class="description">
                            <div>
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="producto">
                    <a href="">
                        <div class="product-img">
                            <img src="/images/carousel/galaxy-s6-edge.jpg" alt="">
                        </div>
                        <div class="description">
                            <div>
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="producto">
                    <a href="">
                        <div class="product-img">
                            <img src="/images/carousel/lenovo-tablet-m7.jpg" alt="">
                        </div>
                        <div class="description">
                            <div>
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </div>
                    </a>
                </article>
            </section>
            <a href="/" class="ver-todas">
                <p>Ver todas</p><span>></span>
            </a>
        </div>

        <div class="marcas-partners">
            <h2>Marcas con las que trabajamos</h2>
            <div class="marca">
                <img src="/images/marcas-partners/aorus.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/apple.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/asus.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/hp.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/lenovo.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/lg.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/samsung.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/toshiba.png" alt="">
            </div>
        </div>

        <div class="info-final">
            <div class="metodos-de-pago info">
                <div class="tarjeta">
                    <i class="fas fa-credit-card"></i>
                </div>
                <p>Métodos de pago</p>
            </div>
            <hr>
            <div class="envios info">
                <div class="camion">
                    <i class="fas fa-truck"></i>
                </div>
                <p>Envíos a todo el país</p>
            </div>
            <hr>
            <div class="compra-segura info">
                <div class="seguro">
                    <i class="fas fa-shield-alt"></i>
                </div>
                <p>Compra segura</p>
            </div>
        </div>

    </main>
    <footer>
        <div class="footer">
                <div class="logo-footer">
                    <img src="/images/logo-sm4rttech.png" alt="">
                </div>
                
                <div class="listas">
                    <div class="lista1">
                        <ul>
                            <li>Inicio</li>
                            <li>Sobre nosotros</li>
                            <li>Ayuda</li>
                        </ul>
                    </div>
                    <div class="lista2">
                        <ul>
                            <li>Ofertas</li>
                            <li>Favoritos</li>
                            <li>Marcas</li>
                        </ul>
                    </div>
                    <div class="lista3">
                        <ul>
                            <li>Recomendados</li>
                            <li>Smartphones</li>
                            <li>Tablets</li>
                            <li>Televisores</li>
                            <li>Gaming</li>
                        </ul>
                    </div>
                </div>
    
                <div class="redes">
                    <i class="fab fa-whatsapp"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i><i class="fab fa-facebook-f"></i><i class="far fa-envelope"></i>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2021 SM4RTTECH S.A.</p>
                <p>| Todos los derechos reservados | Buenos aires, Argentina</p>
            </div>
        </div>
    </footer>
</body>

</html>