<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header-formularios">
        <div class="logo">
        
            <img src="images/logo-sm4rttech.png" alt="">
        </div>
    </header>
    <main>
    <section class="form-container2">
        <h2>COMPLETA TUS DATOS</h2>
     
            <section class="form">
                <section class="input-container">
                    
                                <div class="palabra"> Nombre</div>                        
                                <input class="input-style" type="text" name="name" placeholder="Nombre"> 
                                                        
                                <div class="palabra"> Apellido</div>
                                <input class="input-style" type="text" name="lastname" placeholder="Apellido">  
                            
                                                        <div class="palabra">Email</div>
                                <input class="input-style" type="email" name="email" placeholder="Email">                                 
                           
                            
                                <div class="palabra">Confirmar Email</div>
                                <input class="input-style" type="email" name="email" placeholder="Email">                                              
                        


                                <div class="palabra">Contraseña</div>
                                <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                            
                                <div class="palabra">Confirmar contaseña</div>
                                <input class="input-style" type="password" name="pass" placeholder="confirmar contraseña">
                           </section>
                       
                    <section class="check">
                        <input type="checkbox" name="terms" id="recordar"><pre> </pre>                    
                        <label for="terms">Acepto los <a>términos y condiciones</a></label>
                        <br> 
                        <br> 
                        <span class="error-message">Debe aceptar lostérminos y condiciones</span>
                    </section>
                
                    <section class="button-container">
                        <span class="error-message">Credenciales inválidas</span>
                            <div>                            
                            <button type="submit" class="registrar ">Registrarme</button>
                            </div>
                    </section>               
                    <span><a href="/login"><h4><pre>    ya tengo cuenta</pre></h4></a>
                </section>
           </section>
       
    </section>
    <section class="form-container-desktop">
    <h2>COMPLETA TUS DATOS</h2>
        <hr>
        <form action="" method="">
            <section class="form">
                <section class="input-container">
                    <table>
                        <tr>
                            <td>
                                <div class="palabra"> Nombre</div>                        
                                <input class="input-style" type="text" name="name" placeholder="Nombre"> 
                            </td>
                            <td>
                                <div class="palabra"> Apellido</div>
                                <input class="input-style" type="text" name="lastname" placeholder="Apellido">  
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <div class="palabra">Email</div>
                                <input class="input-style" type="email" name="email" placeholder="Email">                                 
                            </td>
                            <td>
                                <div class="palabra">Confirmar Email</div>
                                <input class="input-style" type="email" name="email" placeholder="Email">                                              
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <div class="palabra">Contraseña</div>
                                <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                            </td>
                            <td>
                                <div class="palabra">Confirmar contaseña</div>
                                <input class="input-style" type="password" name="pass" placeholder="confirmar contraseña">
                            </td>
                        </tr>
                        
                    </table>            
                    <section class="check">
                        <input type="checkbox" name="terms" id="recordar"><pre> </pre>                    
                        <label for="terms">Acepto los <b>términos y condiciones</b></label>
                        <br> 
                        <br> 
                        <span class="error-message">Debe aceptar lostérminos y condiciones</span>
                    </section>
                
                    <section class="button-container">
                        <span class="error-message">Credenciales inválidas</span>
                            <div>                            
                            <button type="submit" class="registrar ">Registrarme</button>
                            </div>
                    </section>               
                    <span><a href="/login"><h4><pre>    ya tengo cuenta</pre></h4></a>
                </section>
           </section>
        </form>
    </section>
    </main>
    <footer>
        <div class="footer">
                <div class="logo-footer">
                    <img src="public/images/logo-sm4rttech.png" alt="">
                </div>
                
                <div class="listas">
                    <div class="lista1">
                        <ul>
                            <li>Inicio</li>
                            <li>Sobre nosotros</li>
                            <li>Ayuda</li>
                        </ul>
                    </div>
                    <div class="lista2">
                        <ul>
                            <li>Ofertas</li>
                            <li>Favoritos</li>
                            <li>Marcas</li>
                        </ul>
                    </div>
                    <div class="lista3">
                        <ul>
                            <li>Recomendados</li>
                            <li>Smartphones</li>
                            <li>Tablets</li>
                            <li>Televisores</li>
                            <li>Gaming</li>
                        </ul>
                    </div>
                </div>
    
                <div class="redes">
                    <i class="fab fa-whatsapp"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i><i class="fab fa-facebook-f"></i><i class="far fa-envelope"></i>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2021 SM4RTTECH S.A.</p>
                <p>| Todos los derechos reservados | Buenos aires, Argentina</p>
            </div>
        </div>
    </footer>
</body>
</html>