.tabla-editar{
    min-height: 100px;
    text-transform: capitalize;
    text-align: center;
    border-collapse: collapse;
    border-radius: 0.8rem;
    overflow: hidden;
}

.tabla-editar tbody tr,
.tabla-editar thead{
    height: 2.5rem;
}

.tabla-editar td button{
    background: linear-gradient(45deg, rgb(2, 95, 2) 0%, rgba(11,121,9,1) 35%, rgba(4,228,4,1) 100%);
    border: none;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 10px;
}

.tabla-editar td button i{
    color: white;
}

.tabla-editar tbody tr{
    border-bottom: 1px solid rgb(112, 112, 112);
}

.tabla-editar tbody tr:nth-of-type(even){
    background-color: #242424;
}

.tabla-editar tbody tr:last-of-type{
    border-bottom: hidden;
}

.tabla-editar thead{
    background-color: #008678;
}
