
@import url("login.css");
@import url("register.css");
@import url("editProfile.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --greenWater : #00A99D;
    --darkWaterGreen : #216965;
    --lightBlue : #1E55E0;
    --darkGrey : #2F2F2F;
    --grey : #C4C4C4;
}
.formularios-reg {
    display: flex;
    justify-content: center;
}

main .caja-central {
    background-color: var(--grey);
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
}

.caja-central h2{
    text-align: center;
    text-transform: uppercase;
}

.ingreso {
    text-transform: uppercase;
}

.ingreso .mail{
    margin: 1rem 0;
}

.ingreso input {
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    width: 100%;
}
.recuperar-contraseña a{
    text-decoration: none;
    color: var(--lightBlue);
    text-transform: uppercase;
    margin: 0 5px;
}
.recordarme {
    text-transform: uppercase;
    align-items: center;
    margin: 1rem;
}
.recordarme input {
    margin-right: 5px;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;

}

.botones .boton-ingreso {
    background-color: var(--greenWater);
    color: white;
    border-color: var(--darkWaterGreen);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px 0;
    
}
.botones .boton-cuenta {
    background-color: white;
    color: var(--lightBlue);
    border-color: var(--lightBlue);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    margin: 10px 0;
}
.botones .boton-cuenta a{
    text-decoration: none;
    color: var(--lightBlue);
}
span.error-message{
    color: red;
    font-size: x-small0.8rem;
    margin: 5px auto 0;
    display: none;
}
/* ---------------------------------------------------------------------------------------------------- */
footer {
    background-color: var(--darkGrey);
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(--font_poppins);
    font-size: 1rem;
    height: fit-content;
    height: -moz-fit-content;
    padding: 10px 10px;
    width: 100%;
    z-index: 999;
}
.logo-footer {
    text-align: center;
}

.logo-footer img {
    max-height: 100px;
}

.footer ul {
    list-style: none;
}

.footer .listas{
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    color: white;
}

.listas li {
    padding: 10px;
}

.lista3 {
    display: none;
}

.redes {
    text-align: center;
    color: white;
    display:flex;
    justify-content: space-around;
    font-size: x-large;
    margin: 10px 0;
}

.redes i {
    background-color: black;
    padding: 8px;
    border-radius: 100%;
    
}

.copyright {
    text-align: center;
    font-size: small;
    color: var(--grey);

}

@media (min-width: 768px) {
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .listas {
        align-items: center;
    }

    .lista3{
        display: block;
    }
    .redes{
        width: 40%;
    }
    
    .redes i {
        margin: 0 2px;
    }

    .copyright {
        text-align: start;
        display: inline-flex;
    }

    .copyright p {
        margin-right: 3px;
    }
}

@media (min-width: 768px) {
    main .caja-central {
        padding: 3rem;
    }
    
}