header {
    background-color: #2F2F2F;
    align-items: center;
    display: flex;
    justify-content: center;
}

header .logo{
    align-items: center;
    text-align: center;
}
header .logo img {
    width: 60%;
   margin: 10px;
}