header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
}

header ul {
    list-style: none;
}

header {
    background-color: #2f2f2f;
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}

header.main .categorias {
    width: 100%;
}


header.main .logo img {
    width: 70%;
    padding: 1rem 0 0 1rem;
}

header.main .search-bar {
    position: relative;
    width: fit-content;
}

header.main .search-bar .input-style {
    border: none;
    border-radius: 1rem;
    height: 3rem;
    display: flex;
    margin-top: 1rem;
    padding: 1.5rem;
    width: 100%;
}

header.main .search-bar i{
    color: #c4c4c4;
    position: absolute;
    border-left: 1px solid #c4c4c4;
    padding-left: 10px;
    top: 2rem;
    right: 12px;
}
header.main .categorias {
    margin: 0 auto;
    width: fit-content;
}

header.main .categorias ul li {
    display: inline-block;
    padding: 1px 5px 0px;
    margin-right: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    justify-content: space-around;
}
header.main .categorias ul li:last-child {
    margin-right: 0;
}

header.main .options ul li {
    display: inline-block;
    padding: 0 12px;
    margin-top: 1rem;
    text-transform: uppercase;
    border-right: 1px solid white;
}

header.main .logeo ul li:last-child {
    border-right: none;
}

header.main .iconos {
    text-align: right;
    margin-right: 1rem;
    margin-bottom: 10px;
    color: white;
}

header.main .iconos i {
    margin-left: 1rem;
}