main .carousel {
    width: 100%;
    overflow: hidden;
}


main .carousel ul.slider {
    display: flex;
    justify-content: center;
    animation: cambio 15s infinite ease-in-out;
}

main .carousel ul.slider li {
    margin: 15px 10px;
    list-style: none;
}

main .carousel ul.slider li a img {
    border-radius: 15px;
}

@keyframes cambio {
    0%{margin-left: 100%;}
    25%{margin-left: 100%;}

    35%{margin-left: 0%;}
    65%{margin-left: 0%;}
    
    75%{margin-left: -100%;}
    98%{margin-left: -100%;}
    
    100%{margin-left: 100%;}

}