
nav.admin {
    display: block;
    min-width: 200px;
    background-color: #232227;
    color: #fff;
}
nav.admin a {
    color: #fff;
    text-decoration: none;
}

nav.admin ul {
    display: flex;
    flex-direction: column;
}

nav.admin > ul {
    list-style: none;
    width: 100%;
}

nav.admin > ul > li {
    width: 100%;
}

nav.admin ul li .icon {
    margin-right: 1rem;
    font-size: 1.2rem;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.admin ul li .icon i {
    font-weight: 400;
}

nav.admin ul li .title-item {
    line-height: 1;
    height: fit-content;
}

nav.admin ul li .nav-link {
    display: flex;
    align-items: center;
    padding: 15px 35px;
    border-left: 2px solid #232227;
}

nav.admin ul li .nav-link:hover {
    transition: all .25s ease-out;
    border-left: 2px solid #ffffff;
    cursor: pointer;
}

nav.admin ul li .nav-link .arrow {
    font-size: 0.7rem;
    margin-left: auto;
}

nav.admin ul li .sub-menu {
    padding: 0.25rem 0 0.8rem 5rem;
    list-style: disc;
}

nav.admin ul li .sub-menu li {
    line-height: 2;
}

nav.admin ul li .sub-menu li a:hover{
    transition: all .2s ease;
    color: #bebebe;
}



.hideNav,
nav.admin .hideNav,
.hideNav .title-item,
.hideNav .arrow{
    display: none;
    transition: all .4s ease;
}

header.admin .closeNav,
main.admin nav.closeNav{
    width:70px;
    min-width: 70px;
    transition: all .4s ease;
}

header.admin div.closeNav div.burger-menu i {
    margin: 0 auto; 
}

main.admin nav.closeNav .nav-link,
main.admin nav.closeNav .icon{
    margin: 0 auto;
    padding: 0;
}

main.admin nav.closeNav .nav-link {
    padding: 15px 0;
}

header.admin div.closeNav div.girar {
    transform: rotate(-180deg);
    transition: all .4s ease;
}