.card-product .product-admin {
    width: 250px;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    transition: all 1s ease;
    z-index: 1;
}

.botones .boton-2 {
    text-transform: uppercase;
    color: white;
    background-color: var(--greenWater);
    border-color: var(--darkWaterGreen);
    font-size: 1rem;
    font-weight: bold;
    height: 2rem;
    margin: 5px 0;
    width: 100%;
}
