                                                                                                                                                                                                                    
:root {
    --greenWater : #00A99D;
    --darkWaterGreen : #216965;
    --lightBlue : #1E55E0;
    --darkGrey : #2F2F2F;
    --grey : #C4C4C4;
}
.formulario-reg {
    display: flex;
    justify-content: center;
}

.caja-central-form {
    background-color: var(--grey);
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
}
.caja-central-form a{
    color: var(--lightBlue);
}
.caja-central-form h2 {
    text-align: center;
}

.datos-usuarios {
    text-transform: uppercase;
    margin: 2rem 0;
}

.datos-usuarios input {
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    width: 100%;
}

.check {
    display: flex;
    align-items: center;
}
.check input{
    margin-right: 5px;
}
span.error-message{
    color: red;
    font-size: x-small0.8rem;
    margin: 5px auto 0;
    display: none;
}

.register .check{
    width: 100%;      
    flex-direction:column                                                                                                                                                                                                                                                                                                                                            lumn;
}     
.form-container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
}                
.input-container{
width: 75%;
}    
.check{
    width: 100%;
}  
.button-crear {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;

}  

.button-crear .registrar {
    background-color: var(--greenWater);
    color: white;
    border-color: var(--darkWaterGreen);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    max-width: 300px;
    width: 100%;
}

.vuelta-login{
    text-align: center;
    text-transform: uppercase;
}
.form-container-desktop {
    display: none;   
}

@media (min-width: 768px){
    .caja-central-form {
        padding: 2rem;
        max-width: 600px;
    }
    .datos-usuarios {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .datos-usuarios div {
        width: 40%;
    }

}