/* Paleta de colores */

:root {
    --greenWater : #00A99D;
    --darkWaterGreen : #216965;
    --lightBlue : #1E55E0;
    --darkGrey : #2F2F2F;
    --grey : #C4C4C4;
}

/* Aca importan los archivos css de las diferentes paginas que hagan */

@import url("header.css");