<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
<body id="error-404">
    <%- include("partials/header.ejs") %> 
    <main>
        <section class="fondo"></section>
        <div class="img-404"> <img src="/images/logo-error-404.png" alt="Imagen logo 404"> </div>
        <div class="mensaje-error">
            <h1>404</h1>
            <h2>PAGE NOT FOUND</h2>
        </div>
    </main>

</body>
</html>