<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %> 
<body>
    <%- include("partials/header.ejs") %> 
    <main>
        <div class="carousel">
            <ul class="slider">
                <li id="slide1">
                    <a href="/"><img src="/images/carousel/lenovo-tablet-m7.jpg" alt="Lenovo M7"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>Galaxy S6 Edge</h4>
                            <p><span class="bold">La mejor opción gama alta</span></p>
                            <p>Gran calidad de construcción, aunque fué lanzado en 2015 aún tiene mucho que dar.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
                <li id="slide2">
                    <a href="/"><img src="/images/carousel/lg-k20.jpg" alt="LG K20"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>LG K20</h4>
                            <p><span class="bold">Un gran celular</span></p>
                            <p>Buen diseño, buenas prestaciones, colores únicos. Un buen celular para entrar al mundo de
                                la tecnologia.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
                <li id="slide3">
                    <a href="/"><img src="/images/carousel/galaxy-s6-edge.jpg" alt="Galaxy S6 Edge"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>Galaxy S6 Edge</h4>
                            <p><span class="bold">La mejor opción gama alta</span></p>
                            <p>Gran calidad de construcción, aunque fué lanzado en 2015 aún tiene mucho que dar.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
                <li id="slide4">
                    <a href="/"><img src="/images/carousel/lenovo-tablet-m7.jpg" alt="Lenovo M7"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>Galaxy S6 Edge</h4>
                            <p><span class="bold">La mejor opción gama alta</span></p>
                            <p>Gran calidad de construcción, aunque fué lanzado en 2015 aún tiene mucho que dar.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
                <li id="slide5">
                    <a href="/"><img src="/images/carousel/lg-k20.jpg" alt="LG K20"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>LG K20</h4>
                            <p><span class="bold">Un gran celular</span></p>
                            <p>Buen diseño, buenas prestaciones, colores únicos. Un buen celular para entrar al mundo de
                                la
                                tecnologia.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
                <li id="slide6">
                    <a href="/"><img src="./images/carousel/galaxy-s6-edge.jpg" alt="Galaxy S6 Edge"></a>
                    <div class="inferior">
                        <i class="fas fa-chevron-left"></i>
                        <div class="description">
                            <h4>Galaxy S6 Edge 2</h4>
                            <p><span class="bold">La mejor opción gama alta</span></p>
                            <p>Gran calidad de construcción, aunque fué lanzado en 2015 aún tiene mucho que dar.</p>
                        </div>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="box-filter"></div>
                </li>
            </ul>
        </div>

        <div class="top-sales">
            <h2>Los mas vendidos</h2>
            <section class="articulos">
                <article>
                    <a href="/detalleDeProducto">
                        <div class="product-img">
                            <img src="/images/carousel/galaxy-s6-edge.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>Galaxy S6</h3>
                            <p class="price">$ 5.123</p>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/detalleDeProducto">
                        <div class="product-img">
                            <img src="/images/carousel/lenovo-tablet-m7.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>Lenovo Tablet M7</h3>
                            <p class="price">$ 12.525</p>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/detalleDeProducto">
                        <div class="product-img">
                            <img src="/images/carousel/lg-k20.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>LG K20</h3>
                            <p class="price">$ 10.123</p>
                        </div>
                    </a>
                </article>
                <article>
                    <a href="/detalleDeProducto">
                        <div class="product-img">
                            <img src="/images/carousel/galaxy-s6-edge.jpg" alt="">
                        </div>
                        <div class="description">
                            <h3>Galaxy S6</h3>
                            <p class="price">$ 5.123</p>
                        </div>
                    </a>
                </article>
            </section>
        </div>

        <div class="destacados">
            <h2>Destacados</h2>
            <section class="articulos-destacados">
                <div class="izquierda arriba">
                    <article class="producto">
                        <a href="/detalleDeProducto">
                            <div class="product-img">
                                <img src="/images/carousel/lg-k20.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </a>
                    </article>
                    <article class="producto">
                        <a href="/detalleDeProducto">
                            <div class="product-img">
                                <img src="/images/carousel/lenovo-tablet-m7.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>Lenovo Tablet M7</h3>
                                <p class="price">$ 12.525</p>
                            </div>
                        </a>
                    </article>
                </div>

                <article class="producto-principal">
                    <a href="/detalleDeProducto">
                        <div class="product-img">
                            <img src="/images/carousel/galaxy-s6-edge.jpg" alt="">
                        </div>
                        <div class="description-principal">
                            <div class="description">
                                <h3>Galaxy S6</h3>
                                <p class="price">$ 5.123</p>
                            </div>
                        </div>
                    </a>
                </article>

                <div class="derecha abajo">
                    <article class="producto">
                        <a href="/detalleDeProducto">
                            <div class="product-img">
                                <img src="/images/carousel/lenovo-tablet-m7.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>Lenovo Tablet M7</h3>
                                <p class="price">$ 12.525</p>
                            </div>
                        </a>
                    </article>
                    <article class="producto">
                        <a href="/detalleDeProducto">
                            <div class="product-img">
                                <img src="/images/carousel/lg-k20.jpg" alt="">
                            </div>
                            <div class="description">
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </a>
                    </article>
                </div>
            </section>
        </div>

        <div class="ofertas">
            <h2>Ofertas</h2>
            <section class="articulos">
                <article class="producto">
                    <a href="/detalleDeProducto">
                        <div class="product-img">
                            <img src="/images/carousel/lg-k20.jpg" alt="">
                        </div>
                        <div class="description">
                            <div>
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="producto">
                    <a href="/detalleDeProducto">
                        <div class="product-img">
                            <img src="/images/carousel/lenovo-tablet-m7.jpg" alt="">
                        </div>
                        <div class="description">
                            <div>
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="producto">
                    <a href="/detalleDeProducto">
                        <div class="product-img">
                            <img src="/images/carousel/galaxy-s6-edge.jpg" alt="">
                        </div>
                        <div class="description">
                            <div>
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="producto">
                    <a href="/detalleDeProducto">
                        <div class="product-img">
                            <img src="/images/carousel/lenovo-tablet-m7.jpg" alt="">
                        </div>
                        <div class="description">
                            <div>
                                <h3>LG K20</h3>
                                <p class="price">$ 10.123</p>
                            </div>
                        </div>
                    </a>
                </article>
            </section>
            <a href="/products" class="ver-todas">
                <p>Ver todas ></p>
            </a>
        </div>

        <div class="marcas-partners">
            <h2>Marcas con las que trabajamos</h2>
            <div class="marca">
                <img src="/images/marcas-partners/aorus.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/apple.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/asus.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/hp.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/lenovo.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/lg.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/samsung.png" alt="">
            </div>
            <div class="marca">
                <img src="/images/marcas-partners/toshiba.png" alt="">
            </div>
        </div>

        <div class="info-final">
            <div class="metodos-de-pago info">
                <div class="tarjeta">
                    <i class="fas fa-credit-card"></i>
                </div>
                <p>Métodos de pago</p>
            </div>
            <hr>
            <div class="envios info">
                <div class="camion">
                    <i class="fas fa-truck"></i>
                </div>
                <p>Envíos a todo el país</p>
            </div>
            <hr>
            <div class="compra-segura info">
                <div class="seguro">
                    <i class="fas fa-shield-alt"></i>
                </div>
                <p>Compra segura</p>
            </div>
        </div>

    </main>
         <%- include("partials/footer.ejs") %> 
</body>

</html>