<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs") %>
</head>

<body>
    <%- include("partials/header-formularios.ejs") %>
        <main class="main-sobre-nosotros">
            <div class="box-sobre-nosotros">
            <h2>Nosotros... ¡SM4RTTECH!</h2>
            <P>  Nuestro marketplace SM4rtTech es un e-commerce abocado a la venta de equipos
                tecnológicos, con proyección a ampliar la variedad de productos.
            </P>
            <p>
                 La audiencia objetivo será el publico general que se encuentre en la búsqueda de productos en el ámbito
                de la tecnología.
            </p>
            <p>
                 Brindamos un asesoramiento de excelencia, ofreciendo una amplia variedad, con la mejor relación
                calidad/precio.
            </p>
            <p>
                 Es nuestro objetivo darles la mejor experiencia de compra, estando en una constante mejora de procesos e
                ideas, ofreciendo lo mejor de nosotros.
            </p>
            <p>
                 En sM4rtech somos un grupo de diseñadores especializados en desarrollo de páginas web profesionales, en
                continuo crecimiento, dedicado a brindar soluciones integrales a empresas enfocadas en ampliar su
                horizonte y atraer nuevos clientes.
            </p>
            <p>
                 Brindamos atención personalizada a cada uno de nuestros clientes, ofreciéndoles múltiples vías de
                contacto para despejar cada uno de sus dudas antes de comenzar el desarrollo de su página.
            </p>
            <p>
                Esto genera una total confianza y tranquilidad, logrando de esta manera que los resultados finales sean
                totalmente satisfactorios, dándole al cliente la posibilidad de volver a elegirnos en todo tipo de
                emprendimiento que se proponga Por eso en sM4rtech le damos total prioridad a los tiempos que nuestros
                clientes nos solicitan, evaluamos un presupuesto acorde a sus necesidades, y entregamos el trabajo en
                tiempo y forma, dando posibilidades de revisiones para poder llegar al producto final deseado.
            </p>
        </div>
        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>