<footer>
    <div class="footer">
            <div class="logo-footer">
                <img src="/images/logo-sm4rttech.png" alt="">
            </div>
            
            <div class="listas">
                <div class="lista1">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/sobreNosotros">Sobre nosotros</a></li>
                        <li><a href="mailto:sm4rttechtecnologia@gmail.com" target="blank">Ayuda</a></li>
                    </ul>
                </div>
                <div class="lista3">
                    <ul>
                        <li><a href="/products/category/1">Celulares</a></li>
                        <li><a href="/products/category/2">Televisores</a></li>
                        <li><a href="/products/category/3">Gaming</a></li>
                    </ul>
                </div>
            </div>

            <div class="redes">
                <ul>              
                  <i><a href="https://api.whatsapp.com/send? phone=5428649756" target="_blank" class="whatsapp"><i class="fab fa-whatsapp"></i></a></i>
                  <i><a href="https://www.instagram.com/smarttechtecnologia13/" target= "blank" class="instagram"><i class="fab fa-instagram"></i></a></i>
                  <i><a href="https://twitter.com/smartechttecno1"  target= "blank" class="twitter"><i class="fab fa-twitter"></i></a></i>
                  <i><a href="https://www.facebook.com/profile.php?id=100075342831932&sk=photos"  target= "blank" class="faccebook"><i class="fab fa-facebook-f"></i></a></i>
                  <i><a href="mailto:sm4rttechtecnologia@gmail.com" target="blank"><i class="far fa-envelope"></i></a></i>
                </ul>   
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2021 SM4RTTECH S.A.</p>
        <p>| Todos los derechos reservados | Buenos aires, Argentina</p>
    </div>
</footer>