
   <header>
    <div class="main-header">

        <a href="/" class="logo">
            <img src="/images/logo-sm4rttech.png" alt="">
        </a>

        <!-- buscador -->
        <form action="#" class="search-form-mobile" id="search">
            <div class="search-bar">
                <input type="search" name="busqueda" id="" placeholder="Buscar productos">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <ul class="categorías">
                <li class="dropdown-menu" onclick="dropSubCategoryMenu(`school`)">
                    novedades
                    <!-- <i class="fas fa-chevron-down" ></i> -->
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu(`art`)">
                    televisores
                    <!-- <i class="fas fa-chevron-down" ></i> -->
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu(`office`)">
                    celulares
                    <!-- <i class="fas fa-chevron-down" ></i> -->
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu(`office`)">
                    tablets
                    <!-- <i class="fas fa-chevron-down" ></i> -->
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu(`office`)">
                    gaming
                    <!-- <i class="fas fa-chevron-down" ></i> -->
                </li>
            </ul>
        </form>
        <div class="iconos">
            <i class="fas fa-bars burguer-menu-icon" onclick="dropMenu()"></i>
            <!-- <i class="fas fa-shopping-cart carrito" onclick="dropMenu()"></i> -->
        </div>
        <div class="logeo">
            <nav class="options">
                <span><a href="/accounts/login">inicia sesion</a>
                <span><a href="/accounts/register">registrate</a>
            
            </nav>
            <nav class="iconos-desktop">
                <i class="fa fa-bell" onclick="dropMenu()"></i>
                <i class="fa fa-heart" onclick="dropMenu()"></i>
                <a href="/carritoDeCompra"><i class="fas fa-shopping-cart" onclick="dropMenu()"></i></a>
            </nav>
        </div>

    </div>

    
        
   
    

</header>