<header>
    <div class="main-header">

        <a href="/" class="logo">
            <img src="/images/logo-sm4rttech.png" alt="">
        </a>

        <!-- buscador -->
        <form action="#" class="search-form-mobile" id="search">
            <div class="search-bar">
                <input type="search" name="busqueda" id="" placeholder="Buscar productos">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="cat-tablet">
            <ul class="categorías">
                <li class="dropdown-menu" onclick="dropSubCategoryMenu()">
                    <a href="/products">novedades</a>
                </li>
                <li class="dropdown-menu">
                    <a href="/products">televisores</a>
                </li>
                <li class="dropdown-menu">
                    <a href="/products">celulares</a>
                </li>
                <li class="dropdown-menu">
                    <a href="/products">tablets</a>
                </li>
                <li class="dropdown-menu">
                    <a href="/products">gaming</a>
                </li>
            </ul>
        </div>
        </form>
        <div class="iconos">
            <i class="fas fa-bars burguer-menu-icon" onclick="dropMenu()"></i>
        </div>
        <div class="cat" id="navigation-bar-mobile">
            <div class="user-icons-mobile">
                <a href="/accounts/login"><i class="fas fa-user"></i></a>
                <a href="/carritoDeCompra"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <ul class="categorías">
                <li class="dropdown-menu" onclick="dropSubCategoryMenu()">
                    <a href="/products">novedades</a>
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu()">
                    <a href="/products">televisores</a>
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu()">
                    <a href="/products">celulares
            
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu()">
                    <a href="/products">tablets
            
                </li>
                <li class="dropdown-menu" onclick="dropSubCategoryMenu()">
                    <a href="/products">gaming</a>
                </li>
            </ul>
        </div>
        <div class="logeo">
            <nav class="options">
                <span><a href="/accounts/login">inicia sesion</a>
                    <span><a href="/accounts/register">registrate</a>

            </nav>
            <nav class="iconos-desktop">
                <i class="fa fa-bell"></i>
                <i class="fa fa-heart"></i>
                <a href="/carritoDeCompra"><i class="fas fa-shopping-cart"></i></a>
            </nav>
        </div>

    </div>






</header>